[color]
	diff = auto
	status = auto
	branch = auto
[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process --skip
	clean = git-lfs clean -- %f
	required = True
[user]
	name = theguspassos
	email = theguspassos@gmail.com
[commit]
	gpgsign = true
[include]
	path = ~/.gitconfig_local
